:root{
	/*font families*/
	--font-main: 'Jost', sans-serif;
	--font-heading: 'Rokkitt', serif;

	/*font sizes*/
	--fs-900: 3.25rem;
    --fs-800: 3rem;
    --fs-700: 2.25rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
    --fs-200: 1rem;
    --fs-100: 0.92rem;

    /*font colors*/
    --font-light: #ecf8fe;
    --font-dark: #00072d;

    /*background colors*/
    --main-bg: #fcfbfc;
    --main-gradient: linear-gradient(180deg, #00072D 50%, rgba(236, 248, 254, 0.00) 90%);
    --bttm-gradient: linear-gradient(180deg, rgba(236, 248, 254, 0.00) 16%, #00072D 40%);
    --btn-gradient: linear-gradient(180deg, rgba(0, 7, 45, 0.95) 0%, #ECF8FE 70%);
    --btn-gradient-two: linear-gradient(180deg, #00072D 40%, #ECF8FE 150%);
    --responsive-gradient: linear-gradient(180deg, #00072D 25%, rgba(236, 248, 254, 0.00) 65%);
    --alt-light: #fcfcfc;
}

/* Reset */
html, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	margin: 0 ; 
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul{
  margin: 0;
}

p { 
	margin-top: 0; 
	font-family: var(--font-main), sans-serif;
}

abbr{
	text-decoration: none;
}
 
a{
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	position: relative;
}

.summary > p > a, .participation > p > a, .requirements > p > a{
	padding-inline: 2px;
}

.summary > p > a:hover, 
.participation > p > a:hover, 
.requirements > p > a:hover
.summary > p > a:focus, 
.participation > p > a:focus, 
.requirements > p > a:focus{
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-image: repeating-linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%) 10;
}

.requirements > p:nth-child(5) > a:nth-child(1), 
.requirements > p:nth-child(6) > a:nth-child(3){
	border-image: repeating-linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%) 15;
}


li{
	margin: 0 0 0 25px;
}

/*---Custom Styles---
*/

/*grid styles*/
.page-wrapper{
	display: grid;
	grid-template-columns: auto;
	grid-template-areas: 
	"header"
	"intro"
	"main"
	"aside"
	"footer"
	;
}

.intro{
	grid-area: intro;
}

.main{
	grid-area: main;
}

.explanation{
	grid-area: explanation;
}

.participation{
	grid-area: participation;
}

.benefits{
	grid-area: benefits;
}

.requirements{
	grid-area: requirements;
}
/*end grid styles*/

/*--header styles--*/
header { 
	background: #00072D;
	background: var(--main-gradient);
	margin: 0;
		grid-area: header;
}

header h1 { 
	color: #ECF8FE;
	font-weight: 400;
	text-align: center;
	padding: 15px 0 20px;
	font-size: var(--fs-800);
	font-family: var(--font-heading);
}

header h2 { 
	color: #ECF8FE;
	text-align: center;
	padding: 5px 0 25px;
	font-weight: 100;
	font-family: var(--font-heading);
	font-size: var(--fs-600);
	font-style: italic;
}

.summary p {
	color: #00072D;
	font-family: Inter;
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	margin: 5px 0; 
	padding: 20px 10px 0;
}
/*--end header styles--*/

/*--section styles--*/
section article{
	padding: 0 15px 25px 0;
}

article h3{
	font-family: var(--font-heading);
	font-weight: 400;
	font-size: var(--fs-600);
	text-indent: 10px;
}

article p{
	padding: 5px;
	line-height: 1.7;
	font: var(--fs-200) var(--font-main);
	padding-left: 10px;
}

article p:nth-child(2){
	padding-top: 10px;
}

.preamble h3::after, .explanation h3::after, .participation h3::after, .benefits h3::after, .requirements h3::after, .select::after{
	content: "";
	display: block;
    background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
    width: 100%;
	height: 7px;
	padding: 0;
	margin-top: 5px;
}

.preamble > h3{
	letter-spacing: -1px;
}

p > a {
	background: rgba(220, 230, 234, 0.50);
}

.requirements p:last-child{
	font-weight: 200;
	padding-top: 50px;
	padding-bottom: 30px;
}
/*--end section styles--*/

/*--aside styles--*/
aside{
	background: var(--bttm-gradient);
	margin: 0;
	grid-area: aside;
}

.wrapper > div{
	padding:  0 15px 25px 15px;
}

.wrapper > div > h3{
	color: var(--font-dark);
	padding: 0 0 15px 0;
	font-family: var(--font-heading);
	font-size: var(--fs-700);
}

.archives::after, .resources::after{
	content: "";
	display: block;
	background: linear-gradient(90deg, #ECF8FE 0%, rgba(166, 176, 192, 0.30) 39.12%, #00072D 93.23%);
    width: 100%;
	height: 7px;
	margin-top: 5px;
}

.wrapper > div:nth-child(2) > h3, .wrapper > div:nth-child(3) > h3{
	color:var(--font-light);
}

nav > ul, .zen-resources > ul{
	font-family: var(--font-main);
	font-size: var(--fs-300);
	list-style-type: none;
	list-style-image: url("images/list_dark.png");
}

nav > ul > li > a, .zen-resources > ul > li > a{
	text-decoration: underline;
}

nav > ul > li, .zen-resources > ul > li{
	padding: 5px 0;
}

.select, .archives, .resources{
	font-size: var(--fs-500);
	font-family: var(--font-heading);
	font-weight: 400;
	text-indent: 10px;
}


.design-selection li:nth-child(5), .design-selection li:nth-child(6), .design-selection li:nth-child(7), .design-selection li:nth-child(8){
	color: var(--font-light);
}


.design-archives{
	color: var(--font-light);
}

.zen-resources{
	color: var(--font-light);
}

.zen-resources, .select{
	font-family: var(--font-heading);
}
/*--end aside styles--*/

/*--footer styles--*/
footer { 
	grid-area: footer;
	background: #00072D;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

footer a{
	margin: 15px 7px 20px;
	color: var(--font-dark);
	font-family: var(--font-main);
	font-weight: 800;
	background: var(--btn-gradient);
	padding: 10px 25px;
	border-radius: 50px;
}
/*--end footer styles--*/

/*----Responsive Styles-----*/

@media only screen and (min-width: 768px) {
	body{
		background: var(--responsive-gradient);
		padding: 0 110px;
	}

	header{
		background: none;
	}

	header > h1{
		font-size: var(--fs-900);
		letter-spacing: 3px;
	}
	
	section article{
		padding: 0;
	}
	
	p > a{
		background: rgba(220, 230, 234, 0.15);
	}

	section > article > p > a{
		background: linear-gradient(360deg, rgba(236, 248, 254, 0.10) 30%, rgba(0, 7, 45, 0.10) 100%);
	}

	main{
		background: var(--alt-light);
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		margin: 0 auto;
		padding: 0 15px; 
	}


	.summary{
		margin-bottom: 25px;
	}

	.summary p{
		color: var(--font-light);
		font-size: var(--fs-200);
		font-weight: 100;
		letter-spacing: 1.1px;
		padding-top: 7px;
		padding-bottom: 7px;
		text-align: center;	
	}

	.summary > p > a:hover{
		border-image: none;
		border-bottom-color: var(--font-light);
		border-image: repeating-linear-gradient(90deg, #ECF8FE 0%, rgba(166, 176, 192, 0.30) 39.12%, #00072D 93.23%) 10;
	}

	article > p:nth-child(2){
		padding-top: 30px;
	}

	article > p{
		padding-inline: 50px;
		font-size: var(--fs-300);
	}
  
   .page-wrapper > aside, .page-wrapper > footer{
		background: var(--alt-light);
		margin: 0 auto;
		padding: 0 15px; 
		margin-bottom: -1px;
		width: 100%;
		max-width: 1000px;
	}

	section > article > h3{
		text-align: center;
		font-size: var(--fs-700);
		padding: 25px 0 0;
	}

	.preamble h3::after {
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 350px;
	    height: 7px;
	    padding: 0;
	    margin: 5px auto 0;
	}

	.explanation h3::after{
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 320px;
	    height: 7px;
	    padding: 0;
	    margin: 5px auto 0;
	}

	.participation h3::after{
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 160px;
	    height: 7px;
	    padding: 0;
	    margin: 5px auto 0;
	}

	.benefits h3::after{
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 85px;
	    height: 7px;
	    padding: 0;
	    margin: 5px auto 0;
	}

	.requirements h3::after{
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 175px;
	    height: 7px;
	    padding: 0;
	    margin: 5px auto 0;
	}

	.requirements p:last-child{
		text-align: center;
		margin: 0 auto;
		line-height: 2;
	}

	aside{
		background: none;
	}

	.wrapper{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-areas: 
		"archive archive" 
		"design resources";
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.zen-resources, .design-archives{
	    color: var(--font-main);
    } 

	.archives::after{
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 250px;
	    height: 7px;
	    padding: 0;
	    margin: 0 auto;
	}

	.select::after {
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 200px;
	    height: 7px;
	    padding: 0;
	    margin: 0;
	}

	.resources::after{
		content: "";
		display: block;
		background: linear-gradient(90deg, #00072D 10%, rgba(236, 248, 254, 0.00) 100%);	
        width: 200px;
	    height: 7px;
	    padding: 0;
	    margin: 0;
	}

	.design-selection li:nth-child(5), 
	.design-selection li:nth-child(6), 
	.design-selection li:nth-child(7), 
	.design-selection li:nth-child(8), 
	.wrapper > div:nth-child(2) > h3, 
	.wrapper > div:nth-child(2) > h3, 
	.wrapper > div:nth-child(3) > h3, nav > ul, 
	.zen-resources > ul{
		color: var(--font-dark);
	}

	.design-selection{
		grid-area: design;
	}

	.design-archives{
		grid-area: archive;
		margin: 0 auto;
		width: 100%;
	}

	.design-archives > h3{
		text-align: center;
	}

	.design-archives > nav{
		margin: 15px 0;		
	}

	.design-archives > nav > ul{
		display: flex;
		flex-direction: row-reverse;
		list-style-image: none;
		width: 100%;
		justify-content: space-evenly;
	}

	nav > ul > li, .zen-resources > ul{
		padding: 10px 0;
	}

	.design-archives > nav > ul > li{
		padding: 0;
		margin: 0;
	}

	.zen-resources{
		grid-area: resources;
	}

	footer a {
		background: var(--btn-gradient-two);
		color: var(--font-main);
		padding: 10px 30px;
		font-size: var(--fs-400);
		font-weight: 500;
		letter-spacing: 1.7px;
		margin: 25px 0 50px 0;
	}

}

@media only screen and (min-width: 900px) {
	body{
		padding: 0;
		margin: 0;
	}

    .page-wrapper{
		display: grid;
		grid-template-columns: 3fr 5fr;
		grid-template-areas: 
		"header header "
		"aside intro"
		"aside main"
		"footer footer"
		;
		padding:0;
		margin: 0 auto;
		width: 100vw;
		max-width: 1200px;
	}

	main{
		margin: 0 15px 0 0;
		width: 90%;
	}

	footer{
	  grid-area: footer;
	}

	.page-wrapper > footer{
		margin-top: 150px;
	}

	aside{
	  grid-area: aside;
	}

	.select, .resources{
		color: var(--font-light);
	}

	.summary{
		margin-inline: 9rem;
	}

	.requirements > p:last-child{
		position: relative;
		right: 37%;
		top: 100px;
		padding: 0;
		max-width: 100%;
	}

	.requirements > p:last-child > a{
		font-style: italic;
		background: none;
	}

	section > article > h3{
		font-size: var(--fs-500);
	}

	article > p{
		font-size: var(--fs-100);
	}

	.page-wrapper > aside{
		background: none;
	}

	.wrapper{
		grid-area: aside;
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
		"archive"
		"design" 
		"resources";
		margin: 0;
		padding: 0;
		background: none;
		justify-content: center;
		padding: 0 50px;
	}

	.design-selection{
		grid-area: design;
	}

    .design-archives {
        grid-area: archive;
    }

    .design-archives > nav > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	.zen-resources{
		grid-area: resources;
	}

	.wrapper > div > h3{
		color: var(--font-light);
		font-size: var(--fs-400);
		font-weight: 200;
	}

	.design-selection li:nth-child(5), 
	.design-selection li:nth-child(6), 
	.design-selection li:nth-child(7), 
	.design-selection li:nth-child(8), 
	.wrapper > div:nth-child(2) > h3, 
	.wrapper > div:nth-child(2) > h3, 
	.wrapper > div:nth-child(3) > h3, 
	nav > ul, 
	.zen-resources > ul{
		color: var(--font-light);
	}

	.archives{
		display: none;
	}

	.select::after, .archives::after, .resources::after{
		background: linear-gradient(90deg, #ECF8FE 0%, rgba(166, 176, 192, 0.30) 39.12%, #00072D 93.23%); 
	}

	.design-archives > nav > ul > li{
		font-size: var(--fs-300);
		font-weight: 500;
		letter-spacing: 2px;
		padding-bottom: 15px;
	}

    .design-archives > nav > ul > li > a{
    	text-decoration: none;
    }
	
	.design-archives > nav > ul > li > a:hover{
		border-image: none;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-image: repeating-linear-gradient(90deg, #ECF8FE 0%, rgba(166, 176, 192, 0.30) 75.12%, #00072D 93.23%) 12;

	}

	.design-selection > nav > ul > li{
		font-size: var(--fs-200);
		font-weight: 200;
		letter-spacing: 1px;
		line-height: 1.4;

	}


	.design-selection > nav > ul > li > a:first-child{
		font-weight: 500;
	}

	.zen-resources{
		margin-top: 10px;
	}

	.zen-resources > ul > li{
		font-size: var(--fs-200);
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 1.4;
	}

	.zen-translations, .zen-submit{
		color: var(--font-dark);
	}
}



